* {
	border-radius: 0;
	border: none;
}

#window {
	font-size: 32px;
	font-family: "IosevkaTerm Nerd Font Mono";
	background-color: #0d1117;
	border: 1px solid #285577;
}

#entry:selected {
	background-color: #285577;
}

#entry {
	padding: 0.25em
}

#text:selected {
	color: white;
}

#input {
	background-color: #0d1117;
	border: 1px solid #285577;
	border-bottom: none;
	color: white;
}
