* {
	border-radius: 0;
	border: none;
	opacity: 0.95;
}

#window {
	font-size: 32px;
	font-family: "ShureTechMono Nerd Font Propo";
	background-color: rgba(0,0,0,1);
	border: 2px solid #a06666;
}

#entry:selected {
	background-color: #a06666;
}

#entry {
	padding: 0.25em
}

#text:selected {
	color: white;
}

#input {
	background-color: rgba(0,0,0,1);
	border: 2px solid #a06666;
	border-bottom: none;
	color: white;
}
